<div class="full-height-wrapper p-8">
	<div class="container mx-auto bg-white p-8" data-controller="projects">
	  <div class="projects-header flex items-center justify-between">
	  	<h1 class="text-5xl">My Projects</h1>
	  	<span data-action="click->projects#openModal" 
	  				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer">
	  			New Project
	  	</span>
	  </div>
	  <div class="modal bg-smoke-light fixed w-full
	  					  h-full top-0 left-0 flex items-center justify-center
	  					  opacity-0 pointer-events-none" 
	  		 data-target="projects.modal">
	  	
	 		<div class="modal-content relative w-1/4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
	 			<span class="cursor-pointer absolute" 
	 									 data-action="click->projects#closeModal"
	 									 style="top: 15px; right: 15px;">x</span>

	 			<h3 class="text-3xl text-center mb-4">New Project</h3>
	 			<%= simple_form_for @project do |f| %>
	 				<%= f.label :title, class: 'block text-gray-700 text-sm font-bold mb-2' %>
	 				<%= f.input :title, label: false, 
	 										input_html: { class: 'shadow appearance-none border 
	 																					rounded w-full py-2 px-3
	 																					text-gray-700 leading-tight
	 																					focus:outline-none focus:shadow-outline
	 																					mb-4' } %>
	 														
	 				<%= f.label :description, class: 'block text-gray-700 text-sm font-bold mb-2' %>
	 				<%= f.input :description, label: false, 
	 										input_html: { class: 'shadow appearance-none border 
	 																					rounded w-full py-2 px-3
	 																					text-gray-700 leading-tight
	 																					focus:outline-none focus:shadow-outline
	 																					mb-4 h-32' } %>

	 				<%= f.submit 'Create', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer' %>
	 			<% end %>
	 		</div>
	  </div>
	</div>
</div>
