<div class="full-height-wrapper flex items-center justify-center">
  <div class="w-full max-w-sm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                html: { class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' }) do |f| %> 
        <h3 class="text-3xl text-center mb-4 font-bold">Connect</h3>
        <div class="mb-4">
          <%= f.label :email, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
                placeholder: 'john@gmail.com', 
                class: 'shadow appearance-none border rounded 
                        w-full py-2 px-3 text-gray-700 leading-tight
                        focus:outline-none focus:shadow-outline' %>
        </div>
        <div class="mb-6">
          <%= f.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <%= f.password_field :password, autocomplete: "current-password", 
                placeholder:'************',
                class: 'shadow appearance-none border rounded 
                        w-full py-2 px-3 text-gray-700 mb-3 leading-tight
                        focus:outline-none focus:shadow-outline' %>
        </div>
        <div class="flex items-center justify-between mb-6">
          <%= f.submit "Sign In", class: 'main-btn text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer' %>
        </div>
        <p class="text-center text-gray-500 text-xs">
          <%= render "devise/shared/links" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
